<app-navigation-bar></app-navigation-bar>
<div class="articleBox">
  <div class="videoTop">
    <div class="underline">
      <h4><strong>NFL Films</strong></h4>
    </div>
  </div>
  <div class="mainVideoFormat">
    <div class="videoBody">
      <iframe src="https://player.vimeo.com/video/145060457" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="videoTitle">
      <h4><strong>Seahawks vs Monsters</strong></h4>
      <p class="videoInfo">When Seattle is attack by monsters, the Seahawks save the day</p>
    </div>
  </div>
<app-featured-videos></app-featured-videos>
</div>
<app-footer></app-footer>
