<div class="navBarFooter">
  <div class="nflClubs">
    <p>NFL CLUBS</p>
  </div>
</div>


<div class="teamFooter" id="teamFooter">
  <div class="containerTeams">
    <div class="teamLogos">
    <div class="moveTeams1">
    <table>
      <tr>
        <td class="move">AFC NORTH</td>
        <td class="move preventWrap">AFC EAST</td>
        <td class="move">AFC SOUTH</td>
        <td class="move preventWrap">AFC WEST</td>
      </tr>

      <tr>
        <td class="test">
          <a href="https://www.baltimoreravens.com/"><img
            src="../assets/teamLogos/ravens.png" alt="Ravens"></a>
          </td>
          <td class="test">
            <a href="https://www.buffalobills.com/"><img src="../assets/teamLogos/bills.png" alt="Bills"></a>
          </td>
          <td class="test">
            <a href="https://www.houstontexans.com/"><img src="../assets/teamLogos/texans.png" alt="Texans"></a>
          </td>
          <td class="test">
            <a href="https://www.denverbroncos.com/"><img src="../assets/teamLogos/broncos.png" alt="Broncos"></a>
          </td>
        </tr>

        <tr>
          <td class="test">
            <a href="https://www.bengals.com/"><img src="../assets/teamLogos/bengals.png" alt="bengals"></a>
          </td>
          <td class="test">
            <a href="https://www.miamidolphins.com/">    <img src="../assets/teamLogos/dolphins.png" alt="dophins"></a>
          </td>
          <td class="test">
            <a href="https://www.colts.com/"><img src="../assets/teamLogos/colts.png" alt="Colts"></a>
          </td>
          <td class="test">
            <a href="https://www.chiefs.com/"><img src="../assets/teamLogos/chiefs.png" alt="Chiefs"></a>
          </td>
        </tr>

        <tr>
          <td class="test">
            <a href="https://www.clevelandbrowns.com/"><img src="../assets/teamLogos/browns.png" alt="Browns"></a>
          </td>
          <td class="test">
            <a href="https://www.patriots.com/"><img src="../assets/teamLogos/patriots.png" alt="Patriots"></a>
          </td>
          <td class="test">
            <a href="https://www.jaguars.com/"><img src="../assets/teamLogos/jaguars.png" alt="Jaguars"></a>
          </td>
          <td class="test">
            <a href="https://www.chargers.com/"><img src="../assets/teamLogos/chargers.png" alt="Chargers"></a>
          </td>
        </tr>

        <tr>
          <td class="test">
            <a href="https://www.steelers.com/"><img src="../assets/teamLogos/steelers.png" alt="Steelers"></a>
          </td>
          <td class="test">
            <a href="https://www.newyorkjets.com/"><img src="../assets/teamLogos/jets.png" alt="Jets"></a>
          </td>
          <td class="test">
            <a href="https://www.titansonline.com/"><img src="../assets/teamLogos/titans.png" alt="Titans"></a>
          </td>
          <td class="test">
            <a href="https://www.raiders.com/"><img src="../assets/teamLogos/raiders.png" alt="Raiders"></a>
          </td>
      </table>
      </div>
      <div class="moveTeams">
      <table>
        <tr>
          <td class="move">NFC NORTH</td>
          <td class="move preventWrap">NFC EAST</td>
          <td class="move">NFC SOUTH</td>
          <td class="move preventWrap">NFC WEST</td>
        </tr>

        <tr>
            <td class="test">
              <a href="https://www.chicagobears.com/"><img src="../assets/teamLogos/bears.png" alt="Bears"></a>
            </td>
            <td class="test">
              <a href="https://www.dallascowboys.com/"><img src="../assets/teamLogos/cowboys.png" alt="Cowboys"></a>
            </td>
            <td class="test">
              <a href="https://www.atlantafalcons.com/"><img src="../assets/teamLogos/falcons.png" alt="Falcons"></a>
            </td>
            <td class="test">
              <a href="https://www.azcardinals.com/"><img src="../assets/teamLogos/cardinals.png" alt="Cardinals"></a>
            </td>
          </tr>

          <tr>
            <td class="test">
              <a href="https://www.detroitlions.com/"><img src="../assets/teamLogos/lions.png" alt="Lions"></a>
            </td>
            <td class="test">
              <a href="https://www.giants.com/"><img src="../assets/teamLogos/giants.png" alt="Giants"></a>
            </td>
            <td class="test">
              <a href="https://www.panthers.com/"><img src="../assets/teamLogos/panthers.png" alt="Panthers"></a>
            </td>
            <td class="test">
              <a href="https://www.therams.com/"><img src="../assets/teamLogos/rams.png" alt="rams"></a>
            </td>
          </tr>

          <tr>
            <td class="test">
              <a href="https://www.packers.com/"><img src="../assets/teamLogos/packers.png" alt="Packers"></a>
            </td>
            <td class="test">
              <a href="https://www.philadelphiaeagles.com/"><img src="../assets/teamLogos/eagles.png" alt="Eagles"></a>
            </td>
            <td class="test">
              <a href="https://www.neworleanssaints.com/"><img src="../assets/teamLogos/saints.png" alt="Saints"></a>
            </td>
            <td class="test">
              <a href="https://www.49ers.com/"><img src="../assets/teamLogos/49ers.png" alt="49ers"></a>
            </td>
          </tr>

          <tr>
            <td class="test">
              <a href="https://www.vikings.com/"><img src="../assets/teamLogos/vikings.png" alt="Vikings"></a>
            </td>
            <td class="test">
              <a href="https://www.redskins.com/"><img src="../assets/teamLogos/redskins.png" alt="Redskins"></a>
            </td>
            <td class="test">
              <a href="https://www.buccaneers.com/"><img src="../assets/teamLogos/bucs.png" alt="Bucs"></a>
            </td>
            <td class="test">
              <img class="team" src="../assets/logo.png" alt="Seahawks">
            </td>
          </tr>
        </table>
        </div>
      </div>

    </div>
  </div>

  <div class="appLink">
    <div class="moveApp">
      <p>Download Apps</p>
    </div>

    <div class="downloadApps">
      <a href="https://itunes.apple.com/app/id558103335?mt=8"><img class="app" src="../assets/apple.png" alt=""></a>
      <a href="https://play.google.com/store/apps/details?id=com.yinzcam.nfl.seahawks"><img class="app" src="../assets/google.png" alt=""></a>
    </div>
  </div>

  <div class="footer">
    <img class="seahawksLogo" src="../assets/logo.png" alt="">

    <div class="copywrite">
      <p>© Seattle Seahawks 2018. All rights reserved. ® SEAHAWKS, SEAHAWKS LOGO, SPIRIT OF 12, WE ARE 12, BRING ON THE 12, LEGION OF BOOM, 12 and 12S are trademarks of the Seattle Seahawks. ® The term 12th MAN is a trademark of Texas A & M University and its use is pursuant to a license agreement with the university.</p>
    </div>
  </div>
