<div class="navBarFooter">
</div>


<div class="teamFooter">
  <div class="container">

<table>
<tr>
  <td class="move">AFC NORTH</td>
  <td class="move">AFC EAST</td>
  <td class="move">AFC SOUTH</td>
  <td class="move">AFC WEST</td>
  <td class="move">NFC NORTH</td>
  <td class="move">NFC EAST</td>
  <td class="move">NFC SOUTH</td>
  <td class="move">NFC WEST</td>
</tr>

<tr>
  <td class="test">
    <a href="https://www.baltimoreravens.com/"><img
       src="../assets/teamLogos/ravens.png" alt="Ravens"></a>
    </td>
  <td class="test">
    <a href="https://www.buffalobills.com/"><img src="../assets/teamLogos/bills.png" alt="Bills"></a>
  </td>
  <td class="test">
    <a href="https://www.houstontexans.com/"><img src="../assets/teamLogos/texans.png" alt="Texans"></a>
  </td>
  <td class="test">
    <a href="https://www.denverbroncos.com/"><img src="../assets/teamLogos/broncos.png" alt="Broncos"></a>
  </td>
  <td class="test">
    <a href="https://www.chicagobears.com/"><img src="../assets/teamLogos/bears.png" alt="Bears"></a>
  </td>
  <td class="test">
    <a href="https://www.dallascowboys.com/"><img src="../assets/teamLogos/cowboys.png" alt="Cowboys"></a>
  </td>
  <td class="test">
    <a href="https://www.atlantafalcons.com/"><img src="../assets/teamLogos/falcons.png" alt="Falcons"></a>
  </td>
  <td class="test">
    <a href="https://www.azcardinals.com/"><img src="../assets/teamLogos/cardinals.png" alt="Cardinals"></a>
  </td>
</tr>

<tr>
  <td class="test">
    <img src="../assets/teamLogos/bengals.png" alt="bengals">
  </td>
  <td class="test">
    <img src="../assets/teamLogos/dolphins.png" alt="dophins">
  </td>
  <td class="test">
    <img src="../assets/teamLogos/colts.png" alt="Colts">
  </td>
  <td class="test">
    <img src="../assets/teamLogos/chiefs.png" alt="Chiefs">
  </td>
  <td class="test">
    <img src="../assets/teamLogos/lions.png" alt="Lions">
  </td>
  <td class="test">
    <img src="../assets/teamLogos/giants.png" alt="Giants">
  </td>
  <td class="test">
    <img src="../assets/teamLogos/panthers.png" alt="Panthers">
  </td>
  <td class="test">
    <img src="../assets/teamLogos/rams.png" alt="rams">
  </td>
</tr>

<tr>
  <td class="test">
    <img src="../assets/teamLogos/browns.png" alt="Browns">
  </td>
  <td class="test">
    <img src="../assets/teamLogos/patriots.png" alt="Patriots">
  </td>
  <td class="test">
    <img src="../assets/teamLogos/jaguars.png" alt="Jaguars">
  </td>
  <td class="test">
    <img src="../assets/teamLogos/chargers.png" alt="Chargers">
  </td>
  <td class="test">
    <img src="../assets/teamLogos/packers.png" alt="Packers">
  </td>
  <td class="test">
    <img src="../assets/teamLogos/eagles.png" alt="Eagles">
  </td>
  <td class="test">
    <img src="../assets/teamLogos/saints.png" alt="Saints">
  </td>
  <td class="test">
    <img src="../assets/teamLogos/49ers.png" alt="49ers">
  </td>
</tr>

<tr>
  <td class="test">
    <img src="../assets/teamLogos/steelers.png" alt="Steelers">
  </td>
  <td class="test">
    <img src="../assets/teamLogos/jets.png" alt="Jets">
  </td>
  <td class="test">
    <img src="../assets/teamLogos/titans.png" alt="Titans">
  </td>
  <td class="test">
    <img src="../assets/teamLogos/raiders.png" alt="Raiders">
  </td>
  <td class="test">
    <img src="../assets/teamLogos/vikings.png" alt="Vikings">
  </td>
  <td class="test">
    <img src="../assets/teamLogos/redskins.png" alt="Redskins">
  </td>
  <td class="test">
    <img src="../assets/teamLogos/bucs.png" alt="Bucs">
  </td>
  <td class="test">
    <img class="team" src="../assets/logo.png" alt="Seahawks">
  </td>
</tr>
</table>

  </div>
</div>

<div class="appLink">
  <div class="moveApp">
    <p>Download Apps</p>
  </div>

  <div class="downloadApps">
    <a href="https://itunes.apple.com/app/id558103335?mt=8"><img class="app" src="../assets/apple.png" alt=""></a>
    <a href="https://play.google.com/store/apps/details?id=com.yinzcam.nfl.seahawks"><img class="app" src="../assets/google.png" alt=""></a>
  </div>
</div>

<div class="footer">
  <img class="seahawksLogo" src="../assets/logo.png" alt="">

  <div class="copywrite">
    <p>© Seattle Seahawks 2018. All rights reserved. ® SEAHAWKS, SEAHAWKS LOGO, SPIRIT OF 12, WE ARE 12, BRING ON THE 12, LEGION OF BOOM, 12 and 12S are trademarks of the Seattle Seahawks. ® The term 12th MAN is a trademark of Texas A & M University and its use is pursuant to a license agreement with the university.</p>
  </div>
</div>
