div.footer {
  min-height: 190px;
  background-color: #001a4d;
  color: #DCDCDC;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 11px;
  text-align: center;
  padding-bottom: 10px;
}
div.navBarFooter {
  margin-top: 35px;
  background-color: black;
  height: 50px;
}
div.nflClubs {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 15px;
  border-bottom: solid;
  border-color: white;
  width: 100px;
}
.teamFooter {
  background-color: #1a1a1a;
  width: 100%;
  height: 430px;
  padding-top: 20px;
}
div.appLink {
  padding-top: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-align: center;
  background-color: #1a1a1a;
  color: gray;
  height: 82px;
  border-top: solid;
  border-width: 1px;
  border-color:  #404040;
}
.downloadApps {

}
.moveApp {
  margin-bottom: -6px;
}
.app {
  width: 100px;
  margin-left: 15px;
  margin-right: 15px;
}
img.seahawksLogo {
  width: 65px;
  padding-top: 35px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.copywrite {
  margin-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
}
.featured {

}
.teamLogos {
 width: 100%;
}
.team {
  width: 48px;
}
.test {
  width: 250px;
  height: 80px;
  font-size: 13px;
  text-align: center;

}
.move {
  width: 150px;
  height: 30px;
  font-size: 13px;
  color: white;
  text-align: center;
}
.moveTeams {
}
.moveTeams1 {
  float: left;
  width: 50%;
}

.containerTeams {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* division names wrap at the same time */
@media (max-width: 702px) and (min-width: 563px) {
  td.move {
    padding-left: 7px;
    padding-right: 7px;
  }
}
/* division names wrap at the same time */
@media (max-width: 390px) {
  td.move {
    padding-left: 7px;
    padding-right: 7px;
  }
}

/* @media (max-width: 455px) {
  #teamFooter {
    height: 750px;
  }
} */

@media (max-width: 537px) {
  div.teamFooter {
    height: 790px;
  }
  div.moveTeams1 {
    width: 90%;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  div.moveTeams {
    width: 90%;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
