<div class="navBarFooter">

</div>


<div class="teamFooter">
  <div class="container">
  <!-- <div class="division">
    <p>AFC North</p>
  </div>
  <div class="division">
    <p>AFC East</p>
  </div>
  <div class="division">
    <p>AFC South</p>
  </div>
  <div class="division">
    <p>AFC West</p>
  </div>
  <div class="division">
    <p>NFC North</p>
  </div>
  <div class="division">
    <p>NFC East</p>
  </div>
  <div class="division">
    <p>NFC South</p>
  </div>
  <div class="division">
    <p>NFC N</p>
  </div> -->
    <!-- <div class="row featured">

      <div class="col-md-1 teamLogos">
        <p>AFC North</p>
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
</div> -->

<tr>
  <td class="test">AFC NORTH</td>
  <td class="test">AFC EAST</td>
  <td class="test">AFC SOUTH</td>
  <td class="test">AFC WEST</td>
  <td class="test">NFC NORTH</td>
  <td class="test">NFC EAST</td>
  <td class="test">NFC SOUTH</td>
  <td class="test">NFC WEST</td>
</tr>

    <!-- <div class="row featured">
      <div class="col-md-1 teamLogos">
        <img class="team" src="../assets/ravens.png" alt="">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
    </div>

    <div class="row featured">
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
    </div>

    <div class="row featured">
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
    </div>

    <div class="row featured">
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
    </div>

    <div class="row featured">
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
    </div>

    <div class="row featured">
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
    </div>

    <div class="row featured">
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
    </div>

    <div class="row featured">
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
      <div class="col-md-1 teamLogos">
      </div>
    </div> -->



  </div>
</div>

<div class="appLink">
  <div class="moveApp">
    <p>Download Apps</p>
  </div>

  <div class="downloadApps">
    <a href="https://itunes.apple.com/app/id558103335?mt=8"><img class="app" src="../assets/apple.png" alt=""></a>
    <a href="https://play.google.com/store/apps/details?id=com.yinzcam.nfl.seahawks"><img class="app" src="../assets/google.png" alt=""></a>
  </div>
</div>

<div class="footer">
  <img class="seahawksLogo" src="../assets/logo.png" alt="">

  <div class="copywrite">
    <p>© Seattle Seahawks 2018. All rights reserved. ® SEAHAWKS, SEAHAWKS LOGO, SPIRIT OF 12, WE ARE 12, BRING ON THE 12, LEGION OF BOOM, 12 and 12S are trademarks of the Seattle Seahawks. ® The term 12th MAN is a trademark of Texas A & M University and its use is pursuant to a license agreement with the university.</p>
  </div>
</div>
