
<div class="featuredContentBox">
  <div class="featuredContent">
    <h4>Featured Videos</h4>
  </div>
</div>
<div class="row featured">
  <div class="col-md-4">
    <div class="mainArticleFormate">
      <div>
        <img src="../assets/videoPhotos/SA.jpg" alt="" class="featuredStory">
      </div>
      <a routerLink="../video1" class="headlineLink">
        <div class="mainArticleBody">
          <p class="newsHeader">VIDEO</p>
          <p class="featuredBody">Mr. MVP: Shaun Alexander career Highlights</p>

        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mainArticleFormate">
      <div>
        <img src="../assets/videoPhotos/monsters.jpg" alt="" class="featuredStory">
      </div>
      <a routerLink="../video2" class="headlineLink">
        <div class="mainArticleBody">
          <p class="newsHeader">VIDEO</p>
          <p class="featuredBody">Seahawks vs. Monsters</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mainArticleFormate">
      <div>
        <img src="../assets/videoPhotos/2013.jpg" alt="" class="featuredStory">
      </div>
      <a routerLink="../video3" class="headlineLink">
        <div class="mainArticleBody">
          <p class="newsHeader">VIDEO</p>
          <p class="featuredBody">Relive the 2013-2014 Season: The Road to Super Bowl XLIX</p>
        </div>
      </a>
    </div>
  </div>
</div>
