<div class="nav">
  <div class="news">
    <a class="logoButton" href="#">
    <img class="logo" src="../assets/logo.png" alt="">
  </a>
    <a class="linkPage" routerLink="../news">NEWS</a>
    <a class="linkPage" routerLink="../videos">VIDEOS</a>
    <a class="linkPage" routerLink="../schedule">SCHEDULE</a>

    <div class="shop">
      <a href="https://www.ticketmaster.com/artist/806020?landing=c&awtrc=true&c=SEM_TMNFL_ggl_447577017_23817944697_seahawks%20tickets&GCID=0&gclid=Cj0KCQjw5NnbBRDaARIsAJP-YR_c9-hDu8MJGIQZUl4z5LSDTV9GD39S0CNJPqtrfeqdvCGjd0wU_tkaAvY1EALw_wcB&gclsrc=aw.ds&dclid=CO_y0-rc9NwCFUOwZAod_iEHfg" class="linkPage">TICKETS</a>

      <a href="https://www.nflshop.com/seattle-seahawks/t-14261575+z-9008694-1557674260" class="linkPage">PRO SHOP</a>

            <a href="https://gamepass.nfl.com/packages?team=sea&campaign=sp-cl-gd-af-pj-1502611&affiliateId=73630&clickId=2410399230&affiliateCustomId=&affiliateCustomUrl=" class="linkPage">WATCH</a>
    </div>
  </div>
</div>
