
div.nav {
  margin-top: -5px;
  background-color: #001a4d;
  color: white;
  height: 62px;
  width: 100%;
}
img.logo {
  width: 50px;
}
div.news {
  margin: 20px;
  width: 100%;
}
a.linkPage {
  font-size: 13px;
  margin-left: 20px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
a.linkPage:hover {
  text-decoration: underline;
}
a:visited {
  color: white;
}
div.shop {
  float: right;
}
a.logoButton {
  text-decoration: none;
}
a.logoButton:hover {
  text-decoration: none;
}
