  <app-navigation-bar></app-navigation-bar>

<div class="articleBox">

  <div class="mainArticleFormate">
    <div class="mainArticleBody">
      <div class="datePosted">
        <p>Saturday, Aug 18, 2018 9:43 AM</p>
      </div>
      <p class="mainArticle"><strong>Shaun Alexander comes out of retirement to rejoin the Seahawks for the 2018 season</strong></p>
    </div>
    <div>
      <img src="../assets/Alexander.jpg" alt="" class="mainStory">
    </div>
  <p>Seahawks legend Shaun Alexander has offically been reinstated by the league. At age 40, what does former MVP have left in the tank?</p>

  </div>
</div>

    <app-footer></app-footer>
