  <app-navigation-bar></app-navigation-bar>

<div class="articleBox">

  <div class="mainArticleFormate">
    <div class="mainArticleBody">

   <div class="box">
      <div class="datePosted">
        <p>Saturday, Aug 18, 2018 9:43 AM</p>
      </div>
      <div class="icons">
      <img src="../assets/icons/facebook.png" class="iconLinks" alt="">
      <img src="../assets/icons/twitter.jpg" class="iconLinks" alt="">
      <img src="../assets/icons/mail.png" class="iconLinks" alt="">
      <img src="../assets/icons/copy.jpg" class="iconLinks" alt="">
    </div>
    </div>
     <div class="articleHeader">
      <p class="mainArticle"><strong>Shaun Alexander Comes Out of Retirement to Rejoin the Seahawks for the 2018 Season</strong></p>
       </div>
       <div class="profilePic">
         <img src="../assets/Dwayne_Johnson.jpg" class="profile" alt="">
         <div class="profileInfo">
         <p><strong class="name">Dwayne Johnson</strong>
        <br><span class="profileSite">SEAHAWKS.COM REPORTER</span></p>
        <div class="moveProfileIcon">
          <a href="https://twitter.com/TheRock"><img src="../assets/icons/twitter.jpg" class="profileIcon" alt=""></a>
        </div>
         </div>
       </div>

    </div>

    <div>
      <img src="../assets/articleMain/Alexander.jpg" alt="" class="mainStory">
    </div>

    <div class="bodyArticle">
  <p><strong>SEATTLE, WA. --- </strong>Seahawks legend Shaun Alexander has offically been reinstated by the league. At age 40, what does former MVP have left in the tank?</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut tortor pretium viverra suspendisse potenti nullam ac tortor. Mi eget mauris pharetra et ultrices neque ornare. Egestas maecenas pharetra convallis posuere morbi leo urna. In fermentum posuere urna nec tincidunt praesent. Tortor vitae purus faucibus ornare suspendisse sed. Elementum integer enim neque volutpat ac tincidunt vitae semper quis. Interdum consectetur libero id faucibus nisl tincidunt eget nullam. Arcu non odio euismod lacinia at quis risus sed. In hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit.</p>

<p>Viverra nibh cras pulvinar mattis. Sollicitudin aliquam ultrices sagittis orci a. Sed sed risus pretium quam vulputate dignissim. Curabitur vitae nunc sed velit dignissim sodales. Justo nec ultrices dui sapien eget mi proin sed. Libero enim sed faucibus turpis in eu mi bibendum. Amet mauris commodo quis imperdiet massa. Libero justo laoreet sit amet cursus sit amet. Cras adipiscing enim eu turpis. Adipiscing elit duis tristique sollicitudin nibh sit. Id neque aliquam vestibulum morbi blandit cursus risus at ultrices. Mi in nulla posuere sollicitudin aliquam ultrices. Enim neque volutpat ac tincidunt vitae.</p>

<div class="articlePics">
  <img src="../assets/bose.jpg" alt="Alexander" class="moveArticle">
</div>


<p>Lectus vestibulum mattis ullamcorper velit. Integer vitae justo eget magna. Dui nunc mattis enim ut tellus. Convallis tellus id interdum velit laoreet id donec. Euismod quis viverra nibh cras. Pellentesque pulvinar pellentesque habitant morbi tristique. Velit sed ullamcorper morbi tincidunt ornare massa eget. Convallis convallis tellus id interdum velit. Condimentum id venenatis a condimentum vitae sapien pellentesque. Gravida in fermentum et sollicitudin. Eu mi bibendum neque egestas congue quisque egestas diam. Porttitor rhoncus dolor purus non enim praesent elementum facilisis leo. Sem viverra aliquet eget sit amet tellus cras adipiscing enim. Id eu nisl nunc mi ipsum.</p>

<p>Congue quisque egestas diam in. Mauris pharetra et ultrices neque. Vitae suscipit tellus mauris a diam. Luctus venenatis lectus magna fringilla urna porttitor rhoncus. Sed id semper risus in hendrerit gravida rutrum quisque. Senectus et netus et malesuada fames. Pharetra diam sit amet nisl suscipit adipiscing bibendum est ultricies. Sociis natoque penatibus et magnis dis parturient montes nascetur. Ipsum dolor sit amet consectetur adipiscing. A arcu cursus vitae congue. Amet dictum sit amet justo. Semper feugiat nibh sed pulvinar proin gravida hendrerit. Elit duis tristique sollicitudin nibh sit amet commodo. Ac turpis egestas sed tempus urna et pharetra pharetra massa. Mattis enim ut tellus elementum sagittis vitae.</p>

<div class="articlePics">
  <img src="../assets/AlexanderPhoto.jpg" alt="Alexander" class="moveArticle">
  <p>Shaun Alexander February 5, 2016 - Super Bowl XL</p>
</div>

<p>Faucibus a pellentesque sit amet porttitor eget dolor morbi. Molestie ac feugiat sed lectus vestibulum. Cursus turpis massa tincidunt dui. Enim diam vulputate ut pharetra. Quisque egestas diam in arcu cursus. Orci porta non pulvinar neque laoreet suspendisse interdum. Viverra maecenas accumsan lacus vel facilisis volutpat est velit egestas. Quis lectus nulla at volutpat diam ut venenatis. Quam quisque id diam vel. Urna id volutpat lacus laoreet. Senectus et netus et malesuada fames. Enim sit amet venenatis urna cursus eget nunc. A erat nam at lectus urna duis convallis convallis tellus. Massa tincidunt nunc pulvinar sapien et ligula. Sed velit dignissim sodales ut eu sem integer vitae. Adipiscing at in tellus integer feugiat scelerisque. Dui accumsan sit amet nulla facilisi. Purus gravida quis blandit turpis.</p>

<p>Quisque id diam vel quam elementum pulvinar. Quam vulputate dignissim suspendisse in. Id eu nisl nunc mi ipsum faucibus vitae aliquet nec. Dictum at tempor commodo ullamcorper a lacus. Risus in hendrerit gravida rutrum quisque non tellus. Sapien eget mi proin sed libero enim. Malesuada proin libero nunc consequat interdum varius sit amet. Condimentum mattis pellentesque id nibh tortor id aliquet lectus. Ut venenatis tellus in metus vulputate. Purus semper eget duis at. At varius vel pharetra vel turpis. Sit amet cursus sit amet dictum sit. Tempus quam pellentesque nec nam aliquam.</p>

</div>
  </div>
  <app-featured></app-featured>
</div>
    <app-footer></app-footer>
    <div *ngFor="let comment of commentsDisplay">
      <h3>{{comment.userName}}</h3>
      <h4>{{comment.userPost}}</h4>
    </div>
