<app-navigation-bar></app-navigation-bar>
<div class="articleBox">
  <div class="videoTop">
    <div class="underline">
      <h4><strong>NFL Films</strong></h4>
    </div>
  </div>
  <div class="mainVideoFormat">
    <div class="videoBody">
      <iframe src="https://player.vimeo.com/video/95431332" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <div class="videoTitle">
      <h4><strong>The Road to Super Bowl XLIX</strong></h4>
      <p class="videoInfo">Relive the 2013-2014 Season: The Road to Super Bowl XLIX</p>
    </div>
  </div>
  <app-featured-videos></app-featured-videos>
</div>
<app-footer></app-footer>
