<div class="articleBox">

<div class="mainArticleFormate">
  <div class="mainArticleBody">

 <div class="box">
    <div class="datePosted">
      <p>Monday, Aug 20, 2018 9:05 AM</p>
    </div>
    <div class="icons">
    <img src="../assets/icons/facebook.png" class="iconLinks" alt="">
    <img src="../assets/icons/twitter.jpg" class="iconLinks" alt="">
    <img src="../assets/icons/mail.png" class="iconLinks" alt="">
    <img src="../assets/icons/copy.jpg" class="iconLinks" alt="">
  </div>
  </div>
   <div class="articleHeader">
    <p class="mainArticle"><strong>After 2 Injury Plagued Seasons, The Seahawks Have Parted Ways With the Once Promising Duel-Threat Back </strong></p>
     </div>
     <div class="profilePic">
       <img src="../assets/Dwayne_Johnson.jpg" class="profile" alt="">
       <div class="profileInfo">
       <p><strong class="name">Dwayne Johnson</strong>
      <br><span class="profileSite">SEAHAWKS.COM REPORTER</span></p>
      <div class="moveProfileIcon">
        <a href="https://twitter.com/TheRock"><img src="../assets/icons/twitter.jpg" class="profileIcon" alt=""></a>
      </div>
       </div>
     </div>

  </div>

  <div>
    <img src="../assets/articleMain/prosise.jpg" alt="Prosise" class="mainStory">
  </div>

  <div class="bodyArticle">
<p><strong>SEATTLE, WA. --- </strong>The return of Shaun Alexander marks a shift in philosophy and a return to the ground and pound offense that was the heart beat of the Seahawks during their Super Bowl run in 2013. After 2 injury plagued seasons, the Seahawks have parted ways with the once promising duel-threat back, CJ Prosise.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut tortor pretium viverra suspendisse potenti nullam ac tortor. Mi eget mauris pharetra et ultrices neque ornare. Egestas maecenas pharetra convallis posuere morbi leo urna. In fermentum posuere urna nec tincidunt praesent. Tortor vitae purus faucibus ornare suspendisse sed. Elementum integer enim neque volutpat ac tincidunt vitae semper quis. Interdum consectetur libero id faucibus nisl tincidunt eget nullam.</p>

<div class="articlePics">
<img src="../assets/bose.jpg" alt="Bose" class="moveArticle">
</div>

<p>Libero id faucibus nisl tincidunt eget nullam. Mi tempus imperdiet nulla malesuada pellentesque elit eget gravida cum. Amet facilisis magna etiam tempor orci eu lobortis elementum. Gravida neque convallis a cras semper auctor neque vitae. Suscipit tellus mauris a diam maecenas sed. Diam donec adipiscing tristique risus nec feugiat in fermentum. Hendrerit dolor magna eget est. Lorem ipsum dolor sit amet consectetur. Pellentesque habitant morbi tristique senectus. Morbi tincidunt ornare massa eget. Quis auctor elit sed vulputate. Nibh mauris cursus mattis molestie a iaculis at.</p>

<p>Felis imperdiet proin fermentum leo vel orci porta non pulvinar. Quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor. Tincidunt augue interdum velit euismod in pellentesque massa placerat. Mi sit amet mauris commodo quis. Dignissim sodales ut eu sem integer vitae justo..</p>

<div class="articlePics">
<img src="../assets/articleMain/prosise1.jpg" alt="Prosise" class="moveArticle">
</div>

<p>Ultricies lacus sed turpis tincidunt id. Quis lectus nulla at volutpat diam. Nam at lectus urna duis convallis convallis tellus. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Quis risus sed vulputate odio ut enim blandit volutpat maecenas. Turpis egestas integer eget aliquet nibh praesent. In ante metus dictum at tempor commodo ullamcorper. Diam ut venenatis tellus in metus vulputate eu. Interdum velit laoreet id donec ultrices tincidunt arcu non. Tempus imperdiet nulla malesuada pellentesque elit eget gravida cum sociis.</p>

</div>
</div>

<div class="adV">
  <a href="https://www.verizonwireless.com/">
    <img src="../assets/verizon.png" alt="Verizon" class="moveV">
  </a>
</div>

<!-- user comments -->
<div class="commentTitle">
  <div class="title">
    <h4>Comments</h4>
  </div>
</div>
<div class="comments">
  <div class="user">
    <div class="enterName">
      <label><strong>USER NAME:</strong></label>
      <br>
      <input #userName>
    </div>
    <div class="enterPost">
      <label><strong>POST:</strong></label>
      <br>
      <input class="input" #userPost>
    </div>
    <button (click)="submitForm(userName.value, userPost.value); userName.value=''; userPost.value='';">Post</button>
  </div>
  <div *ngFor="let comment of COMMENTS | async">
    <div class="postBox">
      <div class="userName">
        <p>{{comment.userName}}</p>
      </div>
      <div class="userPost">
        <p>{{comment.userPost}}</p>
      </div>
      <div class="time">
        <p>{{comment.date}}</p>
      </div>
    </div>
  </div>
</div>

<app-featured></app-featured>
</div>
<app-footer></app-footer>
