<app-navigation-bar></app-navigation-bar>
<div class="articleBox">
  <div class="videoTop">
    <div class="underline">
      <h4><strong>NFL Films</strong></h4>
    </div>
  </div>
  <div class="mainVideoFormat">
    <div class="videoBody">
<iframe width="963" height="542" src="https://www.youtube.com/embed/ZNv9K845a2Q" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="videoTitle">
      <h4><strong>Mr. MVP: Shaun Alexander career Highlights</strong></h4>
      <p class="videoInfo">With Shaun Alexander's return to the NFL, watch his career Highlights</p>
    </div>
  </div>
<app-featured-videos></app-featured-videos>
</div>
<app-footer></app-footer>
