<app-navigation-bar></app-navigation-bar>

<div class="articleBox">

<div class="mainArticleFormate">
  <div class="mainArticleBody">

 <div class="box">
    <div class="datePosted">
      <p>Sunday, Aug 19, 2018 11:28 AM</p>
    </div>
    <div class="icons">
    <img src="../assets/icons/facebook.png" class="iconLinks" alt="">
    <img src="../assets/icons/twitter.jpg" class="iconLinks" alt="">
    <img src="../assets/icons/mail.png" class="iconLinks" alt="">
    <img src="../assets/icons/copy.jpg" class="iconLinks" alt="">
  </div>
  </div>
   <div class="articleHeader">
    <p class="mainArticle"><strong>Cut from the 49ers, Richard Sherman signs 1-day contact to retire a Seahawks. What is his legacy?</strong></p>
     </div>
     <div class="profilePic">
       <img src="../assets/Dwayne_Johnson.jpg" class="profile" alt="">
       <div class="profileInfo">
       <p><strong class="name">Dwayne Johnson</strong>
      <br><span class="profileSite">SEAHAWKS.COM REPORTER</span></p>
      <div class="moveProfileIcon">
        <a href="https://twitter.com/TheRock"><img src="../assets/icons/twitter.jpg" class="profileIcon" alt=""></a>
      </div>
       </div>
     </div>

  </div>

  <div>
    <img src="../assets/articleMain/sherm.jpg" alt="" class="mainStory">
  </div>

  <div class="bodyArticle">
<p><strong>SEATTLE, WA. --- </strong>Cut from the 49ers, Richard Sherman signs 1-day contact to retire a Seahawks. What is his legacy?</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut tortor pretium viverra suspendisse potenti nullam ac tortor. Mi eget mauris pharetra et ultrices neque ornare. Egestas maecenas pharetra convallis posuere morbi leo urna. In fermentum posuere urna nec tincidunt praesent. Tortor vitae purus faucibus ornare suspendisse sed. Convallis a cras semper auctor neque vitae. Pellentesque massa placerat duis ultricies. Et pharetra pharetra massa massa.</p>

<div class="articlePics">
<img src="../assets/articleMain/sherm1.jpg" alt="Sherman" class="moveArticle">
</div>

<p>Viverra nibh cras pulvinar mattis. Sollicitudin aliquam ultrices sagittis orci a. Sed sed risus pretium quam vulputate dignissim. Curabitur vitae nunc sed velit dignissim sodales. Justo nec ultrices dui sapien eget mi proin sed. Libero enim sed faucibus turpis in eu mi bibendum. Amet mauris commodo quis imperdiet massa. Libero justo laoreet sit amet cursus sit amet. Cras adipiscing enim eu turpis. Adipiscing elit duis tristique sollicitudin nibh sit. Id neque aliquam vestibulum morbi blandit cursus risus at ultrices. Mi in nulla posuere sollicitudin aliquam ultrices. Enim neque volutpat ac tincidunt vitae.</p>

<div class="articlePics">
<img src="../assets/bose.jpg" alt="Bose" class="moveArticle">
</div>


<p>Lectus vestibulum mattis ullamcorper velit. Integer vitae justo eget magna. Dui nunc mattis enim ut tellus. Convallis tellus id interdum velit laoreet id donec. Euismod quis viverra nibh cras. Pellentesque pulvinar pellentesque habitant morbi tristique. Velit sed ullamcorper morbi tincidunt ornare massa eget. Convallis convallis tellus id interdum velit. Condimentum id venenatis a condimentum vitae sapien pellentesque. Gravida in fermentum et sollicitudin. Eu mi bibendum neque egestas congue quisque egestas diam. Porttitor rhoncus dolor purus non enim praesent elementum facilisis leo. Sem viverra aliquet eget sit amet tellus cras adipiscing enim. Id eu nisl nunc mi ipsum.</p>

<p>Congue quisque egestas diam in. Mauris pharetra et ultrices neque. Vitae suscipit tellus mauris a diam. Luctus venenatis lectus magna fringilla urna porttitor rhoncus. Sed id semper risus in hendrerit gravida rutrum quisque. Senectus et netus et malesuada fames. Pharetra diam sit amet nisl suscipit adipiscing bibendum est ultricies. Sociis natoque penatibus et magnis dis parturient montes nascetur. Ipsum dolor sit amet consectetur adipiscing. A arcu cursus vitae congue. Amet dictum sit amet justo. Semper feugiat nibh sed pulvinar proin gravida hendrerit. Elit duis tristique sollicitudin nibh sit amet commodo. Ac turpis egestas sed tempus urna et pharetra pharetra massa. Mattis enim ut tellus elementum sagittis vitae.</p>

<div class="articlePics">
<img src="../assets/articleMain/thomas2.jpg" alt="Alexander" class="moveArticle">
<p>Earl Thomas with former teammate Richard Sherman</p>
</div>

<p>Viverra nibh cras pulvinar mattis. Pretium aenean pharetra magna ac. Ac tortor dignissim convallis aenean. Sit amet est placerat in egestas erat imperdiet sed. Tempus quam pellentesque nec nam aliquam sem. Odio facilisis mauris sit amet massa. Libero nunc consequat interdum varius sit amet mattis vulputate. Elit at imperdiet dui accumsan sit amet nulla. Amet venenatis urna cursus eget nunc scelerisque viverra mauris. Ornare aenean euismod elementum nisi quis. Sit amet risus nullam eget felis eget. Eget duis at tellus at urna condimentum mattis. Ornare arcu odio ut sem nulla pharetra diam sit. Tempor id eu nisl nunc mi ipsum faucibus vitae. Sagittis id consectetur purus ut faucibus pulvinar elementum. Vitae aliquet nec ullamcorper sit amet risus nullam eget felis. Aliquam sem fringilla ut morbi tincidunt augue interdum velit euismod. Urna nunc id cursus metus aliquam eleifend mi in nulla. Tristique risus nec feugiat in fermentum posuere urna.</p>

<p>Quisque id diam vel quam elementum pulvinar. Quam vulputate dignissim suspendisse in. Id eu nisl nunc mi ipsum faucibus vitae aliquet nec. Dictum at tempor commodo ullamcorper a lacus. Risus in hendrerit gravida rutrum quisque non tellus. Sapien eget mi proin sed libero enim. Malesuada proin libero nunc consequat interdum varius sit amet. Condimentum mattis pellentesque id nibh tortor id aliquet lectus.</p>

</div>
</div>
<app-featured></app-featured>
</div>


  <app-footer></app-footer>
