<!--The content below is only a placeholder and can be replaced.-->


<div class="top">

<div class="main">
<img src="../assets/main.jpg" alt="">
</div>

</div>


<div class="nav">
  <img src="../assets/logo.png" alt="" class="logo">
<div class="news">
<a class="linkPage">NEWS</a><a class="linkPage">VIDEOS</a><a class="linkPage">PHOTO</a><a class="linkPage">SCHEDULE</a>


</div>
</div>










<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
