<!--The content below is only a placeholder and can be replaced.-->
<div class="mainBody">

  <div class="top">

    <div class="main">
      <img src="../assets/main.jpg" alt="">
    </div>

  </div>

  <div class="nav">
    <div class="news">
      <img src="../assets/logo.png" alt="" class="logo">
      <a class="linkPage">NEWS</a><a class="linkPage">VIDEOS</a><a class="linkPage">PHOTO</a><a class="linkPage">SCHEDULE</a>

      <div class="shop">
        <a href="https://www.ticketmaster.com/artist/806020?landing=c&awtrc=true&c=SEM_TMNFL_ggl_447577017_23817944697_seahawks%20tickets&GCID=0&gclid=Cj0KCQjw5NnbBRDaARIsAJP-YR_c9-hDu8MJGIQZUl4z5LSDTV9GD39S0CNJPqtrfeqdvCGjd0wU_tkaAvY1EALw_wcB&gclsrc=aw.ds&dclid=CO_y0-rc9NwCFUOwZAod_iEHfg" class="linkPage">TICKETS</a><a class="linkPage">PRO SHOP</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row headlines">
      <div class="col-md-8 topStory">

        <div class="mainArticleFormate">

          <div>
            <img src="../assets/Alexander.jpg" alt="" class="mainStory">
          </div>

          <a href="#" class="headlineLink">
            <div class="mainArticleBody">

              <p class="mainArticle">Shaun Alexander comes out of retirement to rejoin the Seahawks for the 2018 season</p>
              <p>Seahawks legend Shaun Alexander has offically been reinstated by the league. At age 40, what does former MVP have left in the tank</p>
            </div>
          </a>

        </div>

      </div>
      <div class="col-md-4 topStory">
        <div class="mainArticleFormate">

          <div class="buttonBox">

            <button class="sideArticles" (click)="showHeadLines()">Headlines</button>
            <button class="sideArticles" (click)="ShowRoundUp()">Round-Up</button>
            <button class="sideArticles" (click)="ShowVideo()">Video</button>
          </div>
          <div class="formateSmallArticles">
            <a class="smallArticles" href="#"><p>Earl Thomas trade talks pick up heat again as 2018 season nears. Multiple team believed have interest</p></a>
          </div>

          <div class="formateSmallArticles">
            <a class="smallArticles" href="#"><p>To make room for Alexander, Seahawks waive CJ Prosise</p></a>
          </div>

          <div class="formateSmallArticles">
            <a class="smallArticles" href="#"><p>Spygate 2.0. Leaked audio released of Belichick admitting Patriots cheated during Super Bowl XLIX. Goodell issues statement, futher punishment coming?</p></a>
          </div>

          <div class="formateSmallArticles">
            <a class="smallArticles" href="#"><p>Cut from the 49ers, Richard Sherman signs 1-day contact to retire a Seahawks</p></a>
          </div>

          <div class="formateSmallArticles">
            <a class="smallArticles" href="#"><p>Spygate 2.0. Leaked audio of Belichick admitting Patriots cheated during Super Bowl XLIX</p></a>
          </div>

          <div>
            <a class="moreNews" href="#"><p>MORE NEWS</p></a>
          </div>

        </div>

        <div class="ad1">
          <img src="../assets/madden.jpg" alt="" class="madden" width="200px">
        </div>
      </div>
    </div>
<div class="featuredContentBox">
  <div class="featuredContent">
  <h4>Featured Content</h4>
  </div>
</div>

<div class="row featured">

  <div class="col-md-4 topStory">
    <div class="mainArticleFormate">
      <div>
        <img src="../assets/thomas.jpg" alt="" class="mainStory">
      </div>

      <a href="#" class="headlineLink">
        <div class="mainArticleBody">
          <p class="news">NEWS</p>
          <p class="featuredBody">Earl Thomas trade talks pick up heat again as 2018 season nears. Multiple team believed have interest</p>
          <br>
        </div>
      </a>
    </div>
</div>
<div class="col-md-4 topStory">
  <div class="mainArticleFormate">
    <div>
      <img src="../assets/bill.jpg" alt="" class="mainStory">
    </div>
    <a href="#" class="headlineLink">
      <div class="mainArticleBody">
        <p class="news">NEWS</p>
        <p class="featuredBody">Spygate 2.0. Leaked audio released of Belichick admitting Patriots cheated during Super Bowl XLIX. Goodell issues statement, futher punishment coming?</p>
      </div>
    </a>
  </div>
</div>


<div class="col-md-4 topStory">
  <div class="mainArticleFormate">
    <div>
      <img src="../assets/sherm.jpg" alt="" class="mainStory">
    </div>
    <a href="#" class="headlineLink">
      <div class="mainArticleBody">
        <p class="news">NEWS</p>
        <p class="featuredBody">Cut from the 49ers, Richard Sherman signs 1-day contact to retire a Seahawks. What is his legacy?</p>
        <br>
      </div>
    </a>
  </div>
</div>


</div>






</div>









  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>

</div>
