<!--The content below is only a placeholder and can be replaced.-->


<div class="top">

<div class="main">
<img src="../assets/main.jpg" alt="">
</div>

</div>


<div class="nav">
  <img src="../assets/logo.png" alt="" class="logo">
<div class="news">
<a class="linkPage">NEWS</a><a class="linkPage">VIDEOS</a><a class="linkPage">PHOTO</a><a class="linkPage">SCHEDULE</a>

<div class="shop">
<a href="https://www.ticketmaster.com/artist/806020?landing=c&awtrc=true&c=SEM_TMNFL_ggl_447577017_23817944697_seahawks%20tickets&GCID=0&gclid=Cj0KCQjw5NnbBRDaARIsAJP-YR_c9-hDu8MJGIQZUl4z5LSDTV9GD39S0CNJPqtrfeqdvCGjd0wU_tkaAvY1EALw_wcB&gclsrc=aw.ds&dclid=CO_y0-rc9NwCFUOwZAod_iEHfg" class="linkPage">TICKETS</a><a class="linkPage">PRO SHOP</a>
</div>

</div>



</div>










<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
