<div class="scheduleBox">
  <div class="scheduleTop">
    <div class="underline">
      <h4><strong>Schedule 2018 Season</strong></h4>
    </div>
  </div>
  <div class="main">
    <div>
      <img src="../assets/schedule.jpg" alt="schedule" class="sch">
    </div>

  </div>
<div class="scheduleTop">
</div>
  <div class="adV">
    <a href="https://www.verizonwireless.com/">
      <img src="../assets/verizon.png" alt="Verizon" class="moveV">
    </a>
  </div>

  <app-featured></app-featured>
  <app-featured-videos></app-featured-videos>
</div>
<app-footer></app-footer>
