<div class="mainBody">
<div class="featuredContentBox">
  <div class="featuredContent">
    <h4>Featured Videos</h4>
  </div>
</div>

<div class="row featured">
  <div class="col-md-4">
    <div class="mainArticleFormate">
      <div>
        <img src="../assets/videoPhotos/SA.jpg" alt="" class="featuredStory">
      </div>
      <a routerLink="../video1" class="headlineLink">
        <div class="mainArticleBody">
          <p class="newsHeader">VIDEO</p>
          <p class="featuredBody">Mr. MVP: Shaun Alexander career Highlights</p>

        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mainArticleFormate">
      <div>
        <img src="../assets/videoPhotos/monsters.jpg" alt="" class="featuredStory">
      </div>
      <a routerLink="../video2" class="headlineLink">
        <div class="mainArticleBody">
          <p class="newsHeader">VIDEO</p>
          <p class="featuredBody">Seahawks vs. Monsters</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mainArticleFormate">
      <div>
        <img src="../assets/videoPhotos/2013.jpg" alt="" class="featuredStory">
      </div>
      <a routerLink="../video3" class="headlineLink">
        <div class="mainArticleBody">
          <p class="newsHeader">VIDEO</p>
          <p class="featuredBody">Relive the 2013-2014 Season: The Road to Super Bowl XLIX</p>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row featured">
  <div class="col-md-4">
    <div class="mainArticleFormate">
      <div>
        <img src="../assets/videoPhotos/wilson1.jpg" alt="wilson" class="featuredStory">
      </div>
      <a routerLink="../video4" class="headlineLink">
        <div class="mainArticleBody">
          <p class="newsHeader">VIDEO</p>
          <p class="featuredBody">Draft Day: Russell Wilson</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mainArticleFormate">
      <div>
        <img src="../assets/videoPhotos/svm.png" alt="making of" class="featuredStory">
      </div>
      <a routerLink="../video5" class="headlineLink">
        <div class="mainArticleBody">
          <p class="newsHeader">VIDEO</p>
          <p class="featuredBody">The Making of Seahawks vs Monsters</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mainArticleFormate">
      <div>
        <img src="../assets/videoPhotos/field.png" alt="Centurylink Field" class="featuredStory">
      </div>
      <a routerLink="../video6" class="headlineLink">
        <div class="mainArticleBody">
          <p class="newsHeader">VIDEO</p>
          <p class="featuredBody">Gameday: Centurylink Field Timelapse</p>
        </div>
      </a>
    </div>
  </div>
</div>




<div class="ad1">
<img src="../assets/maddenLong.jpg" alt="Madden" class="moveAd">
</div>
</div>
<app-footer></app-footer>
