<app-navigation-bar></app-navigation-bar>

<div class="articleBox">

<div class="mainArticleFormate">
  <div class="mainArticleBody">

 <div class="box">
    <div class="datePosted">
      <p>Sunday, Aug 19, 2018 11:28 AM</p>
    </div>
    <div class="icons">
    <img src="../assets/icons/facebook.png" class="iconLinks" alt="">
    <img src="../assets/icons/twitter.jpg" class="iconLinks" alt="">
    <img src="../assets/icons/mail.png" class="iconLinks" alt="">
    <img src="../assets/icons/copy.jpg" class="iconLinks" alt="">
  </div>
  </div>
   <div class="articleHeader">
    <p class="mainArticle"><strong>Spygate 2.0. Leaked audio released of Belichick admitting Patriots cheated during Super Bowl XLIX. Goodell issues statement, futher punishment coming?</strong></p>
     </div>
     <div class="profilePic">
       <img src="../assets/Dwayne_Johnson.jpg" class="profile" alt="">
       <div class="profileInfo">
       <p><strong class="name">Dwayne Johnson</strong>
      <br><span class="profileSite">SEAHAWKS.COM REPORTER</span></p>
      <div class="moveProfileIcon">
        <a href="https://twitter.com/TheRock"><img src="../assets/icons/twitter.jpg" class="profileIcon" alt=""></a>
      </div>
       </div>
     </div>

  </div>

  <div>
    <img src="../assets/articleMain/bill.jpg" alt="" class="mainStory">
  </div>

  <div class="bodyArticle">
<p><strong>FOXBOROUGH, MA. --- </strong>Bill Belichick and the Patriots again find themselves at the center of controversy.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut tortor pretium viverra suspendisse potenti nullam ac tortor. Mi eget mauris pharetra et ultrices neque ornare. Egestas maecenas pharetra convallis posuere morbi leo urna. In fermentum posuere urna nec tincidunt praesent. Tortor vitae purus faucibus ornare suspendisse sed. Elementum integer enim neque volutpat ac tincidunt vitae semper quis. Interdum consectetur libero id faucibus nisl tincidunt eget nullam.</p>

<div class="articlePics">
<img src="../assets/articleMain/bill1.jpg" alt="Belichick" class="moveArticle">
</div>

<p>Mauris pharetra et ultrices neque ornare. At varius vel pharetra vel. Tempus egestas sed sed risus pretium quam vulputate dignissim suspendisse. Hendrerit dolor magna eget est lorem ipsum. Feugiat scelerisque varius morbi enim. Ante metus dictum at tempor commodo ullamcorper a. Hendrerit dolor magna eget est lorem ipsum dolor sit. Vitae nunc sed velit dignissim. Pellentesque nec nam aliquam sem et tortor consequat id. Ultricies tristique nulla aliquet enim. Dui nunc mattis enim ut tellus elementum sagittis vitae et. A scelerisque purus semper eget. Nibh ipsum consequat nisl vel pretium lectus quam. Neque egestas congue quisque egestas diam in. Adipiscing enim eu turpis egestas pretium aenean pharetra magna ac. Interdum consectetur libero id faucibus. Vitae tortor condimentum lacinia quis vel eros donec ac odio.</p>

<div class="articlePics">
<img src="../assets/bose.jpg" alt="Bose" class="moveArticle">
</div>


<p>Libero id faucibus nisl tincidunt eget nullam. Mi tempus imperdiet nulla malesuada pellentesque elit eget gravida cum. Amet facilisis magna etiam tempor orci eu lobortis elementum. Gravida neque convallis a cras semper auctor neque vitae. Suscipit tellus mauris a diam maecenas sed. Diam donec adipiscing tristique risus nec feugiat in fermentum. Hendrerit dolor magna eget est. Lorem ipsum dolor sit amet consectetur. Pellentesque habitant morbi tristique senectus. Morbi tincidunt ornare massa eget. Quis auctor elit sed vulputate. Nibh mauris cursus mattis molestie a iaculis at. Tristique et egestas quis ipsum suspendisse ultrices gravida dictum fusce. Tincidunt lobortis feugiat vivamus at augue eget. Non tellus orci ac auctor augue mauris augue neque gravida.</p>

<p>Felis imperdiet proin fermentum leo vel orci porta non pulvinar. Quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor. Tincidunt augue interdum velit euismod in pellentesque massa placerat. Mi sit amet mauris commodo quis. Dignissim sodales ut eu sem integer vitae justo..</p>

<div class="articlePics">
<img src="../assets/articleMain/bill2.jpg" alt="Belichick" class="moveArticle">
<p>Bill Belichick</p>
</div>

<p>Mattis aliquam faucibus purus in massa tempor nec feugiat. Nullam non nisi est sit amet facilisis magna etiam. Volutpat odio facilisis mauris sit amet massa vitae. Velit dignissim sodales ut eu sem. Sit amet risus nullam eget felis. Augue lacus viverra vitae congue eu. Facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui. Aliquet bibendum enim facilisis gravida neque convallis. Venenatis cras sed felis eget velit aliquet sagittis id. Mauris sit amet massa vitae tortor condimentum lacinia quis. Tellus integer feugiat scelerisque varius morbi enim nunc. Sit amet justo donec enim diam vulputate ut pharetra sit. Feugiat sed lectus vestibulum mattis ullamcorper.</p>

<p>Quisque id diam vel quam elementum pulvinar. Quam vulputate dignissim suspendisse in. Id eu nisl nunc mi ipsum faucibus vitae aliquet nec. Dictum at tempor commodo ullamcorper a lacus. Risus in hendrerit gravida rutrum quisque non tellus. Sapien eget mi proin sed libero enim. Malesuada proin libero nunc consequat interdum varius sit amet. Condimentum mattis pellentesque id nibh tortor id aliquet lectus. Ut venenatis tellus in metus vulputate. Purus semper eget duis at. At varius vel pharetra vel turpis. Sit amet cursus sit amet dictum sit. Tempus quam pellentesque nec nam aliquam.</p>

<div class="articlePics">
<img src="../assets/articleMain/bill3.jpg" alt="Belichick" class="moveArticle">
</div>

<p>Egestas quis ipsum suspendisse ultrices gravida dictum. Condimentum mattis pellentesque id nibh tortor id aliquet lectus. Nunc mattis enim ut tellus. Luctus venenatis lectus magna fringilla urna porttitor. At tempor commodo ullamcorper a lacus. Sit amet purus gravida quis blandit turpis cursus. Purus viverra accumsan in nisl. Tincidunt eget nullam non nisi est. Sit amet consectetur adipiscing elit ut aliquam purus sit. Quam nulla porttitor massa id neque aliquam. Nisl rhoncus mattis rhoncus urna neque viverra justo. Eu augue ut lectus arcu bibendum. Non odio euismod lacinia at quis risus sed. Aenean et tortor at risus viverra adipiscing at in tellus. Laoreet non curabitur gravida arcu ac tortor dignissim. Mauris in aliquam sem fringilla ut morbi. Porttitor leo a diam sollicitudin tempor.</p>

<p>Iaculis at erat pellentesque adipiscing commodo elit at imperdiet. Gravida neque convallis a cras semper auctor neque vitae. Euismod in pellentesque massa placerat. Rutrum tellus pellentesque eu tincidunt tortor. Mi tempus imperdiet nulla malesuada pellentesque elit eget. A condimentum vitae sapien pellentesque. Vitae purus faucibus ornare suspendisse sed nisi lacus sed. Ac orci phasellus egestas tellus rutrum tellus. Urna nunc id cursus metus aliquam eleifend mi in. Malesuada pellentesque elit eget gravida cum. Sed felis eget velit aliquet sagittis id consectetur. Cras sed felis eget velit aliquet sagittis. Suspendisse faucibus interdum posuere lorem ipsum. A lacus vestibulum sed arcu non. Gravida dictum fusce ut placerat orci. Molestie at elementum eu facilisis sed odio.</p>

</div>
</div>
<app-featured></app-featured>
</div>


  <app-footer></app-footer>
