<div class="mainBody">

<div class="featuredContentBox">
  <div class="featuredContent">
    <h4>News</h4>
  </div>
</div>
<div class="row featured">

  <div class="col-md-4 topStory">
    <div class="mainArticleFormate">
      <div>
        <img src="../assets/articleMain/Alexander.jpg" alt="" class="featuredStory">
      </div>
      <a routerLink="../article1" class="headlineLink">
        <div class="mainArticleBody">
          <p class="newsHeader">NEWS</p>
          <p class="featuredBody">Shaun Alexander comes out of retirement to rejoin the Seahawks for the 2018 season</p>
          <br>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4 topStory">
    <div class="mainArticleFormate">
      <div>
        <img src="../assets/articleMain/thomas.jpg" alt="" class="featuredStory">
      </div>
      <a routerLink="../article2" class="headlineLink">
        <div class="mainArticleBody">
          <p class="newsHeader">NEWS</p>
          <p class="featuredBody">Earl Thomas trade talks pick up heat again as 2018 season nears. Multiple team believed have interest</p>
          <br>
        </div>
      </a>
    </div>
  </div>

  <div class="col-md-4 topStory">
    <div class="mainArticleFormate">
      <div>
        <img src="../assets/articleMain/bill.jpg" alt="" class="featuredStory">
      </div>
      <a routerLink="../article3" class="headlineLink">
        <div class="mainArticleBody">
          <p class="newsHeader">NEWS</p>
          <p class="featuredBody">Spygate 2.0: Leaked audio released of Belichick admitting Patriots cheated during Super Bowl XLIX. Goodell issues statement, further punishment coming?</p>
        </div>
      </a>
    </div>
  </div>

</div>

<div class="row featured">
  <div class="col-md-4 topStory">
    <div class="mainArticleFormate">
      <div>
        <img src="../assets/articleMain/sherm.jpg" alt="" class="featuredStory">
      </div>
      <a routerLink="../article4" class="headlineLink">
        <div class="mainArticleBody">
          <p class="newsHeader">NEWS</p>
          <p class="featuredBody">Cut from the 49ers, Richard Sherman signs 1-day contact to retire a Seahawks. What is his legacy?</p>
        </div>
      </a>
    </div>
  </div>

    <div class="col-md-4 topStory">
      <div class="mainArticleFormate">
        <div>
          <img src="../assets/articleMain/prosise.jpg" alt="" class="featuredStory">
        </div>
        <a routerLink="../article5" class="headlineLink">
          <div class="mainArticleBody">
            <p class="newsHeader">NEWS</p>
            <p class="featuredBody">To make room for Alexander, Seahawks waive CJ Prosise</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4 topStory">
      <div class="mainArticleFormate">
        <div>
          <img src="../assets/articleMain/wilson.jpg" alt="" class="featuredStory">
        </div>
        <a routerLink="../article6" class="headlineLink">
          <div class="mainArticleBody">
            <p class="newsHeader">NEWS</p>
            <p class="featuredBody">Per source, Seahawks and Wilson are working towards a contact extenion</p>
          </div>
        </a>
      </div>
    </div>
</div>
<div class="ad1">
<img src="../assets/maddenLong.jpg" alt="Madden" class="moveAd">
</div>
</div>
<app-footer></app-footer>
