<div class="row headlines">
  <div class="topStory">
    <div class="mainArticleFormate">
      <div>
        <img src="../assets/articleMain/Alexander.jpg" alt="" class="mainStory">
      </div>
      <a routerLink="article1" class="headlineLink">
        <div class="mainArticleBody">
          <p class="mainArticle">Shaun Alexander comes out of retirement to rejoin the Seahawks for the 2018 season</p>
          <p>Seahawks legend Shaun Alexander has offically been reinstated by the league. At age 40, what does former MVP have left in the tank?</p>
        </div>
      </a>
    </div>
  </div>

  <div class="hello">
    <div class="mainArticleFormate">
      <div class="buttonBox">
        <button class="sideArticles" (click)="showHeadLines()">Headlines</button>
        <button class="sideArticles" (click)="ShowRoundUp()">Round-Up</button>
        <button class="sideArticles" (click)="ShowVideo()">Video</button>
      </div>

      <div *ngIf="headlines">

        <div class="formateSmallArticles">
          <a class="smallArticles" routerLink="article2"><p>Earl Thomas trade talks pick up heat again as 2018 season nears. Multiple team believed to have interest</p></a>
        </div>
        <div class="formateSmallArticles">
          <a class="smallArticles" routerLink="article5"><p>To make room for Alexander, Seahawks waive CJ Prosise</p></a>
        </div>
        <div class="formateSmallArticles">
          <a class="smallArticles" routerLink="article3"><p>Spygate 2.0. Leaked audio released of Belichick admitting Patriots cheated during Super Bowl XLIX. Goodell issues statement, futher punishment coming?</p></a>
        </div>
        <div class="formateSmallArticles">
          <a class="smallArticles" routerLink="../article4"><p>Cut from the 49ers, Richard Sherman signs 1-day contact to retire a Seahawks.</p></a>
        </div>
        <div class="formateSmallArticles">
          <a class="smallArticles" routerLink="../article6"><p>Per source, Seahawks and Wilson are working towards a contact extenion</p></a>
        </div>
        <div>
          <a class="moreNews" routerLink="../news"><p>MORE NEWS</p></a>
        </div>

      </div>


      <div *ngIf="roundUp">

        <div class="formateSmallArticles">
          <a class="smallArticles" routerLink="../article1"><p>Shaun Alexander comes out of retirement to rejoin the Seahawks for the 2018 season</p></a>
        </div>
        <div class="formateSmallArticles">
          <a class="smallArticles" routerLink="../schedule"><p>2018 Schedule</p></a>
        </div>
        <div class="formateSmallArticles">
          <a class="smallArticles" routerLink="../video5"><p>Video: Making of Seahawks vs Monsters</p></a>
        </div>
        <div class="formateSmallArticles">
          <a class="smallArticles" routerLink="../article4"><p>Cut from the 49ers, Richard Sherman signs 1-day contact to retire a Seahawks</p></a>
        </div>
        <div>
          <a class="moreNews" href="#"><p>MORE NEWS</p></a>
        </div>

      </div>

      <div *ngIf="showVideo">

        <div class="formateSmallArticles">
          <a class="smallArticles" routerLink="../video1"><p>Video: Mr. MVP Shaun Alexander career Highlights</p></a>
        </div>
        <div class="formateSmallArticles">
          <a class="smallArticles" routerLink="../video2"><p>Video: Seahawks vs. Monsters</p></a>
        </div>
        <div class="formateSmallArticles">
          <a class="smallArticles" routerLink="../video3"><p>Video: Relive the 2013-2014 Season: The Road to Super Bowl XLIX.</p></a>
        </div>
        <div>
          <a class="moreNews" routerLink="../videos"><p>MORE VIDEOS</p></a>
        </div>

      </div>


    </div>
    <div class="ad1">
      <img src="../assets/madden.jpg" alt="" class="madden" width="200px">
    </div>
  </div>



</div>
