a.headlineLink{
  text-decoration: none;
  color: black;
}
a.headlineLink:visited {
  color: black;
}
a:visited {
  color: white;
}
div.headlines {
  margin-top: 50px;
}
.mainStory {
  width: 100%;
  height: 100%;
}

div.mainArticleFormate {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}
.mainArticleBody {
  padding: 20px;
}
button.sideArticles {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: white;
  outline: none;
  border: none;
  text-align: center;
  margin-left: 12px;
  display: inline-block;
  margin-bottom: -5px;
  height: 30px;
}

div button.hightLight {
  border-bottom: solid;
}
div.buttonBox {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid;
  border-color: gray;
  border-width: 1px;
  max-width: 275px;
  margin-left: auto;
  margin-right: auto;
}

a.smallArticles {
  font-size: 15px;
  color: black;
}
a.moreNews {
  color: black;
  text-align: center;
}
.formateSmallArticles {
  margin: 10px;
}
.ad1 {
  margin-top: 5px;
}
img.madden {
  width: 100%;
  height: 100%;
}
.topStory {
  width: 66.666666%;
  padding-left: 15px;
  padding-right: 15px;
}
.hello {
  width: 33.333333%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  p.mainArticle {
    font-size: 45px;
    line-height: 55px;
  }
}
@media (max-width: 991px) {

  p.mainArticle {
    font-size: 30px;
    line-height: 35px;
  }
  .topStory {
    width: 100%;
    margin-bottom: 20px;
  }
  .hello {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .topStory {
    margin-bottom: 30px;
  }
}
@media (max-width: 575px) {
  div.headlines {
    margin-top: 15px;
  }
}
